@model Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
    <style>
        .text-danger
        {
            border:1px solid red;
        }
        .input-validation-error {
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div>
        <form method="post">

            Name :
           
            @Html.TextBoxFor(e => e.Name, new { @class = "form-control" })
            <br />
            Email : @Html.TextBoxFor(e => e.Email, new { @class = "form-control" })
            <br />
            Salary : @Html.TextBoxFor(e => e.Salary, new { @class = "form-control" })
            <br />
            Address : @Html.TextAreaFor(e => e.Address, new { @class = "form-control" })
            <br />
            gender:@Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(Gender))), "Select Gender", new { @class = "form-control" })
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
