@model Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThanksForm</title>
</head>
<body>
    <div>
        Thanks @Model.Name ,  Data has been saved.
    </div>
</body>
</html>
